<h1><%= @user.nickname %></h1>

<dl>
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Description</dt>
  <dd><%= @user.description %></dd>
</dl>
